# pytorch backend
torch==2.4.1+cu124 -f https://download.pytorch.org/whl/torch_stable.html
diffusers
safetensors
huggingface_hub

# mindspore backend
mindspore
git+http://github.com/mindspore-lab/mindone
openmind_hub

# common
matplotlib
translate
tdqm
